/*
 TODO：请补充代码
*/
 
* {
  margin: 0;
  padding: 0;
}
/* 最顶部的背景 */
#top {
  width: 100%;
  background: #a6b1e1;
  height: 474px;
  padding-top: 13px;
}
/* 容器 */
#container {
  width: 1024px;
  margin: 0 auto ;
  height: 473px;
  text-align: center;
}


/* 头部样式 */
header {
  height: 46px;
  line-height: 46px;
}
/*  */
#top_left {
  float: left;
  margin-left: 10px
}
#top_left .font18 {
  font-size: 18px;
  text-decoration: none;
  color: white;
}
/*  */
#top_right {
  float: right;
}
#top_right .font16 {
  font-size: 16px;
  margin-right: 16px;
  text-decoration: none;
  color: white;
}
/*  */
#container h1 {
  font-size: 45px;
  color: black;
  margin-top: 30px;
}
/*  */
#top_first_p {
font-size: 21px;
font-weight: 200;
color: white;
margin-top: 62px;
}

#top_second_p {
  font-size: 18px;
  color: #efbfbf;
  border: 1px solid #efbfbf;
  border-radius: 2px;
  box-shadow: inset 0 0 0 2px #efbfbf;
  padding: 10px;
  width: 80px;
  margin: 36px auto 0;
  }

  /* main */
  main {
    margin: 74px auto 0;
    width: 1024px;
    height: 302px;
    text-align: start;
  }

  main h1 {
    font-size: 30px;
    font-weight: 200;
    color: black;
    margin-top: 10px;
  }
  main p {
    font-size: 18px;
    color: #aaa;
    line-height: 1.4em;
  }

  #main_left {
    float: left;
    margin-right: 20px;
    width: 502px;
  }

  #main_left_top,#main_left_bottom,#main_right_top,#main_right_bottom {
    height: 144px;
  }

  #main_right {
    float: right;
    width: 502px;
  }
 
  /* footer */
  footer {
    margin: 10px auto 0;
    width: 1024px;
    height: 40px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
  }
  footer small {
    margin-top: 30px;
  }
  footer p {
    margin-top: 10px;
    font-size: 14px;
    color: #aaa;
  }

